<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    
        <form action="/formSubmit" method="post">
            Name: <input type="text" id="name" name="name">
        <br/>Mobile: <input type="text" id="phone" name="mobile">
            <br/><button type="submit">Submit</button> 
        </form>
    </body>
</html>